include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include supplier_portal *.css
recursive-include supplier_portal *.csv
recursive-include supplier_portal *.html
recursive-include supplier_portal *.ico
recursive-include supplier_portal *.js
recursive-include supplier_portal *.json
recursive-include supplier_portal *.md
recursive-include supplier_portal *.png
recursive-include supplier_portal *.py
recursive-include supplier_portal *.svg
recursive-include supplier_portal *.txt
